<% include header %>

    <title>
        <%= title %>
    </title>
    </head>

    <body>
        <div class="container">

            <div class="text-center mt-5">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <div class="col-md-6 col-sm-12" style="margin: auto;">


                <form action="/mywall/post/edit/<%= post._id %>" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="inputState">Lost or Found</label>
                            <select id="inputState" class="form-control" name="state">
                                <option>LOST</option>
                                <option>FOUND</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="inputLocation">Location</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="oi oi-map-marker"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="inputLocation" placeholder="Location" name="location" value="<%= post.location %>" required>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" id="inputDescription" name="title" rows="3"><%= post.title %></textarea>
                    </div>

                    <div class="text-center">
                        <img class="#" id="imgUpload" src="<%= post.image.path %>" alt="image preview" width="180px" height="140px" style="border-radius: 4px">
                    </div>
                
                    <div class="form-group">
                        <label for="chooseFile">Choose image</label>
                        <input type="file" onchange="readUrl(this)" class="form-control-file" id="chooseFile" name="imageFile">
                    </div>
                
                    <button type="submit" class="btn btn-primary float-right mt-3 px-5"> update</button>
                </form>


            </div>
        </div>


        <script>
            function readUrl(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgUpload')
                            .attr('src', e.target.result)
                            .width(180)
                            .height(140);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }</script>

    </body>

    </html>