<% include header %>

    <title>
        <%= title %>
    </title>
    </head>

    <body>
        <div class="container">

            <div class="text-center">
                <h1>
                    <%= title %>
                </h1>
                <p>
                    what I have posted
                </p>
            </div>

            <a href="/mywall/addpost" class="float">
                <span class="oi oi-plus" style="margin-top: 22px"></span>
            </a>

            <div class="col-md-6 col-sm-12" style="margin: auto;">

                <% if (data.length == 0){ %>
                    <div class="card text-white bg-dark m-3">
                        <div class="card-body text-center">
                            no post yet
                        </div>
                    </div>
                    <% } %>

                <% data.forEach(function(post){ %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="media">
                                <img class=" mr-3 " src="/images/weekend.png " alt="image " width="80px " height="80px " style="border-radius:
                                4px; ">
                                <div class="media-body">
                                    <span class="card-text float-right">
                                        <small class="text-muted">
                                            @<%= post.date.toLocaleString() %>
                                        </small>
                                    </span>
                                    <h5 class="mt-0 ">
                                        <%= post.type %>
                                            TYPE
                                    </h5>
                                    <p>
                                        <%= post.title %>
                                    </p>
                                    <a href="/mywall/edit/post/<%= post._id %>" class="btn btn-primary">
                                        <span class="oi oi-pencil"></span> edit</a>
                                    <a href="mywall/delete/post/<%= post._id %>" class="btn btn-danger">
                                        <span class="oi oi-trash"></span> delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }) %>

            </div>

        </div>

    </body>

    </html>