<% include header %>

    <title>
        <%= title %>
    </title>
    </head>

    <body>
        <div class="container">

            <div class="text-center mt-5">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <div class="col-md-4 col-sm-12" style="margin: auto;">
                

                <div class="card text-center mt-3">
                    <% if (user.image.path == undefined){ 
                        user.image.path = '/images/img_avatar.png' } %>
                    <img class="card-img-top" src="<%= user.image.path %>" alt="image" height="280px">
                    <div class="card-body">
                        <h4 class="card-title">
                            <%= user.name %>
                        </h4>
                        <small class="text-muted">
                            <%= user.email %>
                        </small>
                    </div>
                    <a href="/user/profile/edit/<%= user._id %>" class="btn pb-3">Edit profile</a>
                </div>

                <div class="text-center">
                    <a href="/logout" class="btn btn-warning m-3">
                        <span class="oi oi-account-logout"></span> logout</a>
                </div>


            </div>
        </div>
    </body>

    </html>